@import "shared";

html, body {
  font-family: $font-stack;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-appearance: none;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

#root {
  height: 100%;
}

#wrapper {
  padding: 0em 2em;
  height: 100%;
  display: block;
}

#content {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 20%;
}

#left {
  float: left;
  width: 50%;
}

#right {
  float: right;
  width: 50%;
}

img {
  max-width:100%;
  max-height:100%;
  transform: translateY(-25%);
  user-drag: none;
  user-select: none;
}

img.mobile {
  display: none;
}

#content.succes {
  text-align: center;
}

h1 {
  color: $black;
  font-weight: 800;
  font-size: 3.5em;
  margin: 0 0 1em 0;
  max-width: 70%;
  position:relative;
  z-index: 1;
}

h4 {
  font-size: 1.25em;
  color: $primaryColor;
  font-weight: 600;
  margin: 0 0 1em 0;
}

p {
  color: $gray-1;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.5em;
  max-width: 1000px;
  margin: 0 0 2em 0;
}

#content.succes p{
  max-width: 100%;
}

form {
  display: flex;
  max-width: 540px;
  padding-right: 32px;
}

input::placeholder {
  color: $gray-3;
}

input:focus, button:focus {
  outline:none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input {
  font-size: 1.25em;
  font-weight: 300;
  border: none;
  border-radius: $mainBorderRadius 0px 0px $mainBorderRadius;
  height: 64px;
  width: 100%;
  box-shadow: $shadow-1, $shadow-2;
  -webkit-appearance: none;
  padding: 0em 1em;
  float: left;
}

button {
  float: right;
  position: relative;
  font-size: 1.25em;
  line-height: 0em;
  font-weight: 500;
  text-align: center;
  font-family: $font-stack;
  border: none;
  border-radius: 0px $mainBorderRadius $mainBorderRadius 0px;
  padding: 0em 1.5em;
  margin: 0;
  height: 64px;
  background-color: $primaryColor;
  color: $white;
  box-shadow: $shadow-1, $shadow-2;

  &:hover {
    background-color: $primaryHoverColor;
    cursor: pointer;
  }

  &.success,
  &.success:hover {
    background: #000;
    color: #000;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

$check-height: 1em;
$check-width: 0.5em;

.checkmark {
  display: none;

  &.show {
    display: block;
  }

  &.draw:after {
    animation-duration: 400ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: 3px solid $white;
    border-top: 3px solid $white;
    content: '';
    left: 19px;
    top: 32px;
    position: absolute;
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  font-weight: 300;
}

a.freelancer:hover {
  background-color: $secundairyHoverColor;
}

.freelancer {
  display: inline-block;
  background-color: $secundairyColor;
  color: $secundairyTextColor;
  padding: 1em;
  margin-top: 2em;
  line-height: 1.5em;
  border-radius: $mainBorderRadius;
}

strong {
  font-weight: 600;
}

@media (max-width: 1150px) {
  h1 {
    font-size: 3em;
  }
}

@media (max-width: 900px) {
  #content {
    top: 0;
    max-width: 600px;
  }
  img {
    display: none;
    transform: translateY(0);
  }
  img.mobile {
    display: block;
    padding-bottom: 2em;
  }
  h1 {
    max-width: 100%;
  }
  #left {
    width: 100%;
  }
  form {
    max-width: 100%;
    padding-right: 0;
  }
}


@media (max-width: 640px) {
  html, body {
    font-size: 12px;
  }

  #content {
    top: 0;
    transform: none;
    padding: 2em 0em;
    }

    h1 {
      font-size: 2.25em;
    }

  .freelancer {
    margin-bottom: 2em;
  }

  .checkmark {
    &:after {
      left: 55px;
    }
  }

}

@media (max-width: 420px) {
  .freelancer {
    display: block;
    text-align: center;
  }
}
